
body{
    background-color: white;
    margin-top: 20px;
}



.card {
    word-break: break-all;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: grid;
    align-items: center;
    border-radius:10px;
  }

  .articleHeadline {
    line-height: 1.5;
  }


.jumbotron {
    font-size: 60px;
    text-align:center;
    width: 100%;
    color: black; background-color: white;
    border-radius:10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0.2rem 0.3rem;
    border: solid black 2px;
}

#currentDay {
  display: block;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 2em;
  padding: 10px;
  border-radius:2px;
  width: 50%;
  border: solid black 2px;
  text-align: center;
  margin-left: 25%;
}

#searchbar {
    background-color:rgb(241, 241, 236);
    width:25%;
    display: block;
    
    border: solid 2px black;
}

#forecast {
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding:40px;
    margin-top:3%;
    margin-bottom: 3%;
    border: solid black 2px;
    border-radius:10px;

}

.data {
    margin-left: 20vw;
}



#search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid grey;
    width: 80%;
    background: #f1f1f1;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 2px solid grey;
    border-left: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  

  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


.card {
    background-color: white;
    width: 400px;
    border: solid black 2px;
    padding: 10px;
    /* margin-left: 30%; */
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#fiveDay {
    font-size: 40px;
    padding-top: 20px;
    display: relative;
    background-color:white;
    height: 2em;
    margin-left: 35%;
    font-weight: bold;
    border: solid black 2px;
    width: 8em;
    padding: 5px;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    
}


.img1 {
    width: 7em;
    height: 7em;
    margin-left:auto;
    margin-right:auto;
    
}


.col {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

#day2, #day3, #day4, #day5, #day6{
    border: solid black 1px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 0.60rem;
    margin-right: 0.60rem;
}

#today {
    background-color: white;
    width:75%;
    border: solid black 1px;
    border-radius: 10px;
    display:relative;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color:black;
}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }